<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <nav>
        <div class="logo_header">
            <img class="logo" src="../static/imgs/logo.png" />
        </div>
        <ul class="navbar">
            <li><a href="http://127.0.0.1:5000/home">Home</a></li>
            <!-- will be redirected to login page if not logged in -->
            <li><a href="http://127.0.0.1:5000/stats">Statistics</a></li>
            <li><a href="http://127.0.0.1:5000/test">Status</a></li>
        </ul>
    </nav>


    <div class="grad">
        <div class="content">
            <img ALIGN="right" class="home_img" src="../static/imgs/home.png">
            <h1 class="home_title">Smart Traffic Management</h1>
            <p class="home_desc">
                Real-time traffic monitoring website providing comprehensive data from sensors, ThingSpeak and M2M protocols. Analyze congestion
                patterns, and get alternate route suggestions for optimized commutes.
                <br><br>
                Our intelligent traffic control system aims to reduce congestion and enhance flow. Explore interactive
                maps, graphs, and more."
            </p>

        </div>
    </div>

    <br><br>

    <!-- add js here, to switch to the next few images, also take actual images -->
    

    <div class="heading">
        <h1>What Do You Want To Do</h1>
        <div class="container">
            <div class="options">
                <a href="http://127.0.0.1:5000/stats"><img class="img_option" src="../static/imgs/graph.png" /></a>
                <h2>Statistics</h2>
                <br><br>
                <p class="option_desc">Gives info about the traffic and mainly focuses on graphs.</p>
            </div>
            <div class="options">
                <a href="http://127.0.0.1:5000/test"><img class="img_option" src="../static/imgs/location.png" /></a>
                <h2>Current Situation</h2>
                <br><br>
                <p class="option_desc">Gives info about the current traffic and suggests alternate routes and
                    estimated
                    time travel.</p>
            </div>
        </div>
    </div>

    <br><br><br>

    <footer>
        <h3 style="text-align: center; justify-content: center; font-family: 'Source Sans Pro', sans-serif; color: rgb(59, 59, 59);;">Copyright © 2023</h3>
        <br>
    </footer>

</body>

</html>