<!DOCTYPE html>
<html>
<head>
    <title>Statistics</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav>
        <div class="logo_header">
            <img class="logo" src="../static/imgs/logo.png" />
        </div>
        <ul class="navbar">
            <li><a href="http://127.0.0.1:5000/home">Home</a></li>
            <li><a href="http://127.0.0.1:5000/stats">Statistics</a></li>
            <li><a href="http://127.0.0.1:5000/test">Status</a></li>
        </ul>
    </nav>

    <br><br><br><br><br><br>
    <h1 style="text-align: center; padding-bottom: 0px; margin-bottom: 0px;">Junction 2</h1>
    <br><br><br>
    <p style="text-align: center;">Time Stamp: {{ timestamp }}</p>
    <div class="chart-wrapper">
        <canvas id="chart2"></canvas>
    </div>
    <div class="chart-wrapper">
        <canvas id="chart3"></canvas>
    </div>
    <script src="../static/updateb.js"></script>
</body>
</html>
