<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <nav>
        <div class="logo_header">
            <img class="logo" src="../static/imgs/logo.png" />
        </div>
        <ul class="navbar">
            <li><a href="http://127.0.0.1:5000/home">Home</a></li>
            <li><a href="http://127.0.0.1:5000/stats">Statistics</a></li>
            <li><a href="http://127.0.0.1:5000/test">Status</a></li>
        </ul>
    </nav>


    <br><br><br><br><br>

    <div class="heading">
        <h1>Statistics</h1>
        <ul class="list">
            <li><a href="http://127.0.0.1:5000/junca">Junction A</a></li>
            <li><a href="http://127.0.0.1:5000/juncb">Junction B</a></li>
            <li><a href="http://127.0.0.1:5000/juncc">Junction C</a></li>
            <li><a href="http://127.0.0.1:5000/juncd">Junction D</a></li>
            <li><a href="http://127.0.0.1:5000/junce">Junction E</a></li>
        </ul>
    </div>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br>

    <footer>
        <h3 style="text-align: center; justify-content: center; font-family: 'Source Sans Pro', sans-serif; color: rgb(59, 59, 59);;">Copyright © 2023</h3>
        <br>
    </footer>

</body>

</html>